<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>BetAndUinWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
   		<description></description>
    	<display-name>WebServer</display-name>
    	<servlet-name>WebServer</servlet-name>
    	<servlet-class>serverWeb.WebServer</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>WebServer</servlet-name>
    	<url-pattern>/WebServer</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
   		<description></description>
    	<display-name>Logout</display-name>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>serverWeb.Logout</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/Logout</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
   		<description></description>
    	<display-name>ChatServlet</display-name>
    	<servlet-name>ChatServlet</servlet-name>
    	<servlet-class>chatJSP.ChatServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>ChatServlet</servlet-name>
    	<url-pattern>/ChatServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
   		<description></description>
    	<display-name>BetServer</display-name>
    	<servlet-name>BetServer</servlet-name>
    	<servlet-class>serverWeb.BetServer</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>BetServer</servlet-name>
    	<url-pattern>/BetServer</url-pattern>
  	</servlet-mapping>
</web-app>